<h3> reactive form </h3>
<div class="container">
    <form [formGroup]="userform"  (ngSubmit)="onsubmit()" novalidate>
        <div class="form-group">
            <label for="">First Name:</label>
            <input type="text"  class="form-control" formControlName="fname">
            <small class="text-danger">Name is required</small>
<!--<div *ngIf="getcontrol.fname.touched && getcontrol.fname.invalid" class="text-danger">

            </div>-->
        </div>
        <div class="form-group">
            <label for="">Last Name:</label>
            <input type="text"  class="form-control" formControlName="lname" >
            <small class="text-danger">LastName is required</small>
        </div>
        <div class="form-group">
            <label for="">Email:</label>
            <input type="email" class="form-control" formControlName="email" >
            <small class="text-danger">email is required</small>
        </div>
        <div class="form-group">
            <label for="">Phone:</label>
            <input type="text" class="form-control" formControlName="phno" >
            <small class="text-danger">phone No. is required</small>
        </div>
        <div class="form-group">
            <label for="">Password:</label>
            <input type="password" class="form-control" formControlName="password">
        </div>
        <div class="form-group">
            <label for="">Select Course:</label>
            <select  class="form-control" formControlName="selectcourse">
              <option value="">Select Course</option>
              <option *ngFor='let course of courses'  [ngValue]="course">
                 {{course}}
              </option>
            </select>
        </div>
        <div class="form-group">
            <label for="">Gender:</label>
            <div>
                <input  type="radio"  value="male" formControlName="gender">
                <label for="male">Male</label>
             </div>
    
             <div>
                <input  type="radio"  value="female"formControlName="gender">
                <label for="female">Female</label>
             </div>
        </div>
        <div class="form-group">
            <label for="">Message:</label>
            <textarea name="" id="" cols="30" rows="3" class="form-control" formControlName="message"></textarea>
            <small class="text-danger">Message is required</small>
        </div>
        <button class="btn btn-outline-primary" [disabled]="!userform.valid">Submit</button>
    </form>
</div>


